<div class='front_container'>
	
	<div class='front_left'>
		<%= image_tag 'logo.png' %>
		<h3>Don't call this a social network.</h3>
	</div>
	
	<div class='front_right'>
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		
		<%= form_for(:session, :url => sessions_path) do |f| %>
			<%= f.text_field :email, :placeholder => 'email' %>
			<%= f.password_field :password, :placeholder => 'password' %>
			<%= f.submit "Sign in" %>
		<% end %>
	</div>
	
	<div class="clear"></div>
	
</div>
