<b><%= comment.user.name %></b> has commented on <b><%= comment.post.user.name %>'s</b> post in <b><%= comment.post.cliq.name %></b>:<br>
<br>
<div style="padding-left: 20px;">
	<%= nl2br(comment.body) %>
</div>
<br>
Click <%= link_to "here", post_url(post, only_path: false) %> to view the post.