

<h1 class="page_title">
	You have been invited to the cliq: <%= @cliq.name %>
</h1>


<h2>New to Cliqs?</h2>
<h3>Create an account now</h3>
<%= form_for(@user, :url => '/users/acceptInvite', :html => {:class => "form-stacked"} ) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => { :model => @user } %>
	
	<div class="field">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password Confirmation" %><br>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="field">
		<%= f.label :first_name, "First Name" %><br>
		<%= f.text_field :first_name %>
	</div>
	<div class="field">
		<%= f.label :last_name, "Last Name" %><br>
		<%= f.text_field :last_name %>
	</div>
	<%= f.submit "Sign up" %>
<% end %>


<h2>Already a member?</h2>
<h3>Login now</h3>
<%= form_for(:session, :url => '/users/acceptInvite', :html => {:class => "form-stacked"}) do |f| %>
	<div class="field">
	<%= f.text_field :email, :placeholder => 'email' %>
	</div>
	<div class="field">
	<%= f.password_field :password, :placeholder => 'password' %>
	</div>
	<%= f.submit "Sign in" %>
<% end %>

<%= debug(params) if Rails.env.development? %>