<h2>Change password</h2>

<%= form_for @user, :url => '/users/changePassword', :html => {:class => 'form-stacked'} do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => { :model => @user } %>
	
	<div class="field">
		<%= f.label :old_password, 'Current Password' %><br>
		<%= f.password_field :old_password %>
	</div>
	<div class="field">
		<%= f.label :password, 'New Password' %><br>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password Confirmation" %><br>
		<%= f.password_field :password_confirmation %>
	</div>
	<%= f.submit "Submit", :class => 'btn primary' %>
<% end %>
