%h2 Change password
= form_for @user, :url => '/users/changePassword', :html => {:class => 'form-stacked'} do |f|
  = render :partial => 'shared/error_messages', :locals => { :model => @user }
  .field
    = f.label :old_password, 'Current Password'
    %br/
    = f.password_field :old_password
  .field
    = f.label :password, 'New Password'
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Password Confirmation"
    %br/
    = f.password_field :password_confirmation
  = f.submit "Submit", :class => 'btn primary'
