<% author = post.user %>
<div class="post_super_container" id="post<%= post.id.to_s %>">
	
	<div class="post_container">
	    <div class="post_author">
	      <%= link_to author.name, post_profile(post) %>
	    </div>
	    
	    <div class="post_body"><%= nl2br(post.body) %></div>
	    
	    <div class="post_time"><%= format_datetime(post.created_at) %></div>
	    
	    <button type="button" class="add_comment_btn">
	      <%= image_tag "icons/comment_icon.png", :width => 25, :height => 25 %>
	    </button>
	</div>
  
  
	<div class="add_comment_container">
  
    	<%= form_for :comment, :url => "/comments/ajax_add", :remote => true, :html => {:class => 'new_comment_form'} do |f| %>
      		<%= f.text_area :body, :class => "add_comment_body", :rows => 4 %>
      		<%= f.hidden_field :user_id, :value => current_user.id %>
      		<%= f.hidden_field :post_id, :value => post.id %>
      		<button type="submit" class="btn primary submit_comment_btn">Comment</button>
			<button type="button" class="btn secondary cancel_comment_btn">Cancel</button>
		<% end %>
      
	</div>
  
	<div class="comments_container">
		<% post.comments.each do |comment| %>
			<div class="comment_container">
			    <div class="comment_author">
			      <%= link_to comment.user.name, comment_profile(comment) %>
			    </div>
			    
			    <div class="comment_body"><%= nl2br(comment.body) %></div>
			    
			    <div class="comment_time"><%= format_datetime(comment.created_at) %></div>
			</div>
		<% end %>
	</div>
  
</div>