<h3>Add photo</h3>

<%= form_for [@current_cliq, @photo], :html => {:multipart => true, :class => 'form-stacked'} do |f| %>
	<div class="field">
		<%= f.file_field :image %>
	</div>
	
	<div class="field">
		<%= f.label :body, "Description" %>
		<%= f.text_area :body, :rows => 5 %>
	</div>
	
	<%= f.submit "Save" %>
<% end %>
