
<div class="photos-show-left">
	
	<div class="big-photo-container">
		<%= image_tag @photo.image_url, :class => 'big-photo' %>
	</div>
	<br>
	<div class="post_picture">
		<%= link_to post_pic_for(@photo.user, 90), post_profile(@photo) %>
	</div>
	
	<div class="post_right">
	    <%= link_to @photo.user.name, post_profile(@photo), :class => 'post_author' %>
	    
	    <div class="post_body"><%= nl2br(@photo.body) %></div>
	    
	    <div class="post_time"><%= format_datetime(@photo.created_at) %></div>
	</div>

</div>


<div class="photos-show-right">
	<div class="comments_container">
		<% @photo.comments.each do |comment| %>
			<%= render :partial => 'shared/comment', :locals => { :comment => comment } %>
		<% end %>
	</div>
	
	<div class="add_comment_container">
    	<%= form_for :comment, :url => "/comments/ajax_add_photos_show", :remote => true, :html => {:class => 'new_comment_form'} do |f| %>
      		<%= f.text_area :body, :class => "add_comment_body expandable", :rows => 3 %>
      		<%= f.hidden_field :user_id, :value => current_user.id %>
      		<%= f.hidden_field :commentable_id, :value => @photo.id %>
      		<%= f.hidden_field :commentable_type, :value => "Photo" %>
      		<button type="submit" class="btn primary submit_comment_btn">Comment</button>
		<% end %>
	</div>
</div>

<div class="clear"></div>
