<% @title = "Create Cliq" %>

<h1>Create new Cliq!</h1>

<%= form_for(@cliq, :html => {:class => "form-stacked loading"} ) do |f| %>

	<%= render :partial => 'shared/error_messages', :locals => { :model => @cliq } %>
	
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, :class => 'xxlarge' %>
	</div>
	
	<div class="field">
		<%= label_tag :invites, "Invites (optional)" %>
		<%= text_area_tag :invites, @invites,
			:class => 'xxlarge',
			:size => '30x6',
			:placeholder => 'Enter emails of your favorite people, separated by commas'	%>
	</div>
	
	<div class="field">
		<%= label_tag :invite_message, "Invite message (optional)" %>
		<%= text_area_tag :invite_message, @invite_message,
			:class => 'xxlarge',
			:size => '30x6',
			:placeholder => 'Add a customized message to your invite email'	%>
	</div>
	
	<%= f.submit "Create" %>
	<%= image_tag "loading.gif", :class => "loading" %>

<% end %>
